
body {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    vertical-align: middle;
}


h1 {
    display: inline-block;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: fit-content;
  border-radius: 5px;
  margin: 30px auto;
  align-self: center;
}

.item {
    border: 1px solid black;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-size: bold;    
}

#new-game {
    padding: 5px;
    border-radius: 4px;
    color: #0F172A;;
    background: linear-gradient(#FCD34D, #F59E0B);
        box-shadow: 
        inset 0 2px 3px rgba(255, 255, 255, 0.4),   /* soft white highlight on top */
        inset 0 -2px 3px rgba(0, 0, 0, 0.15); 
}